# Node
node_modules
dist
.env
.env.*.local

# Turborepo
turbo
.cache
.out
.next
apps/*/.next
apps/*/dist
packages/*/dist

# Prisma
prisma/migrations
*.sqlite

# Misc
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
